#header {
    width: 100%;
    background-color: white;
    transition: background ease-out 0.2s;
}

#header .navbar-collapse {
    width: auto;
}

#header .nav-link {
    border-bottom: solid 2px transparent;
}

#header .nav-link:hover{
    border-bottom: solid 2px var(--primary);
}