@import url(./bootstrap.min.css);
@import url(./config.css);
@import url(./global.css);
@import url(./custom.css);
@import url(./responsive.css);

.topo1 { 
    text-align: center;
    background-color: var(--primary);
  }
  
  .textotopo1 {
    color: white;
  }
  
  .menu-principal {
    margin: auto;
    display: block;
  }
  
  .text-cor {
    background-color: var(--primary);
  }
  
  .fontes {
    font-family: 'Cinzel', serif;
  }
  
  .nossosProdutosTitulo {
    padding-top: 70px;
    padding-bottom: 70px;
  }

