/* Responsivo Celular */
@media (max-width: 500px) {

    .bemVindaImagem {
        margin-top: 40px;
        background: url(../imagens/sobreNosCelular.png);
        background-size: cover; width: 100%;
    }

    .BemVindaTexto {
        margin-bottom: 300px;
    }

    .descricaoSobreNos {
        font-size: 13px;
    }

    .rodape {
        
    }

}

/* Responsivo Computador */
@media (min-width: 781px){

    .bemVindaImagem {
        background: url(../imagens/sobreNosFoto.png);
        background-size: cover; 
        width: 100%;
    }

    .BemVindaTexto {
        margin-top: 200px; 
        margin-bottom: 200px;
    }

    .descricaoSobreNos {
        font-size: 17px;
    }

}

/* Responsivo Tablet */
@media (max-width: 780px) and (min-width: 501px) {

    .bemVindaImagem {
        margin-top: 40px;
        background: url(../imagens/sobreNosTablet.png);
        background-size: cover; width: 100%;
    }

    .BemVindaTexto {
        margin-bottom: 300px;
    }

    .descricaoSobreNos {
        font-size: 14px;
    }

}

/* Responsivo outro */
@media (min-width: 781px) and (max-width: 970px) {

    .bemVindaImagem {
        background: url(../imagens/fotoNossa2.png);
        background-size: cover; width: 100%;
    }

    .BemVindaTexto {
        margin-bottom: 120px;
        margin-top: 120px;
    }

}

/* Responsivo navbar */
@media (max-width: 767px) {

    #desaparecer {
        display: none;
    }

}