/* Responsivo Celular */
@media (max-width: 780px) {

    .bemVindaImagem {
        margin-top: 40px;
        background: url(../imagens/sobreNosCelular.png);
        background-size: cover; width: 100%;
    }

    .BemVindaTexto {
        margin-bottom: 300px;
    }

    .descricaoSobreNos {
        font-size: 13px;
    }

}

/* Responsivo Computador */
@media (min-width: 781px){

    .bemVindaImagem {
        background: url(../imagens/sobreNosFoto.png);
        background-size: cover; width: 100%;
    }

    .BemVindaTexto {
        margin-top: 150px; 
        margin-bottom: 150px;
    }

    .descricaoSobreNos {
        font-size: 17px;
    }

}